@{
	ViewData["Title"] = "Home";
}

<!-- Start About-me-section-->
<section class="about-me-section p-3 p-lg-5 theme-bg-light">
	<div class="container">
		<div class="profile-teaser row">

			<div class="col">
				<h2 class="name font-weight-bold mb-1">Abdinoor Suleman</h2>
				<div class="tagline mb-3">junior Software Engineer</div>
				<div class="text-capitalize bio mb-4">
					I'm a software engineer specialised in frontend and backend development
					for complex scalable Web Apps. Desktop Apps ,Mobile Apps For .NET
					Software development  Want to know how I may help your project?
					Check out my project &nbsp;
				 <a class="text-link" href="#">my blog</a>. Want to know how I may help your project? Check out my project <a class="text-link" href="project.html">portfolio</a> and <a class="text-link" href="resume.html">online resume</a>.
				</div><!--//bio-->
				<div class="mb-4">
					<a class="btn btn-primary me-2 mb-3" href="#"><i class="fas fa-arrow-alt-circle-right me-2"></i>
						<span class="d-none d-md-inline">View</span> Portfolio</a>
					<a class="btn btn-secondary mb-3" href="@Url.Action("Resume", "Home")">
						<i class="fas fa-file-alt me-2"></i><span class="d-none d-md-inline">View</span> Resume</a>
				</div>
			</div><!--//col-->

			<div class="col-md-5 col-lg-5">
				<img class="profile-image img-fluid mb-3 mb-lg-0 me-md-0" src="/Img/Mpc2.jpg" alt="your resume img is not proceded">
			</div>
		</div>
	</div>
</section><!--//about-me-section-->

<!-- End   About-me-section-->

<!-- Start What I Do section -->
<section class="overview-section p-3 p-lg-5">
			<div class="container">
				<h2 class="section-title font-weight-bold mb-3">What I do</h2>
				<div class="text-capitalize section-intro mb-5">
							I have more than 9 years' experience building software
			for clients all over the world.
			Below is a quick overview of my main technical skill sets and
			technologies I use. Want to find out more about my experience?
			Check out my
				<a class="text-link" href="@Url.Action("Resume","Home")">online resume</a> and 
				<a class="text-link" href="#">project portfolio</a>.</div>
				<div class="row">
					<div class="item col-6 col-lg-3">
						<div class="item-inner">
							<div class="item-icon"><i class="fa-brands fa-xing-square"></i></div>
							<h3 class="item-title">XAMARIN AND MAUI</h3>
							<div class="text-capitalize item-desc">
							Responsible for developing mobile applications for
							both Android and iOS using Xamarin and Visual studio in C# .
							Strong in the complete Software Development Life
							 <a class="theme-link" href="https://dotnet.microsoft.com/en-us/" target="_blank">dotnet every where</a> 
							 Keep up to date on the latest industry trends in the mobile/web technologies</div>
						</div><!--//item-inner-->
					</div><!--//item-->
					<div class="item col-6 col-lg-3">
						<div class="item-inner">
							<div class="item-icon"><i class="fab fa-php"></i></div>
							<h3 class="item-title">PHP</h3>
							<div class="text-capitalize item-desc">
							 PHP Developer in analysis, design, development, and management
						of web on windows based software applications to manage,
						test and develop distributed client/server, Internet and Intranet
						applications on heterogeneous environments.
						<a class="theme-link" href="https://www.php.net/docs.php" target="_blank">
							PHP Ever Where
						</a> available. in WordPress</div>
						</div><!--//item-inner-->
					</div><!--//item-->
					<div class="item col-6 col-lg-3">
						<div class="item-inner">
							<div class="item-icon"><i class="fa-brands fa-html5 me-2"></i><i class="fa-brands fa-css3-alt"></i></div>
							<h3 class="item-title">HTML &amp; CSS</h3>
							<div class="text-capitalize item-desc">
							 Well organized and easy to understand Web building
						tutorials with lots of examples of how to use HTML, CSS,
						JavaScript  Bootstrap to Making fresh pro New Websites
						template with clean layout offered by CSS Design
						<a class="theme-link" href="https://www.w3schools.com/" target="_blank">HTML And CSS School</a> available. On Any Where
						 </div>
						</div><!--//item-inner-->
					</div><!--//item-->
										<div class="item col-6 col-lg-3">
						<div class="item-inner">
							<div class="item-icon"><i class="fa-brands fa-cloudflare"></i></div>
							<h3 class="item-title">CLOUD COMPUTING</h3>
							<div class="text-capitalize item-desc">
							  For a career in cloud computing, one needs to procure
						various technical skills. It is essential to have information
						on cloud technology and its platforms. Knowledge of
						platforms such as Google Cloud, Amazon Web Services,
						Microsoft Azure, and various others should be obtained
						<a class="theme-link" href="https://azure.microsoft.com/en-in/overview/what-is-cloud-computing/" target="_blank">Cloud Any Where</a> available.
						 </div>
						</div><!--//item-inner-->
					</div><!--//item-->
					
				</div><!--//row-->
				<div class="text-center py-3">
					<a href="services.html" class="btn btn-primary">
						<i class="fas fa-arrow-alt-circle-right me-2"></i>Services &amp; Pricing</a>
						</div>
				
			</div><!--//container-->
		</section>
		
		<div class="container"><hr></div>

<!-- End What I Do section -->

<!-- Start Ready Projects -->
<div class="container"><hr></div>

<section class="latest-blog-section p-3 p-lg-5">
	<div class="container">
		<h2 class="section-title font-weight-bold mb-5">Ready Our Projects</h2>
		<div class="row">
			<div class="col-md-4 mb-5">
				<div class="card blog-post-card">
					<img class="card-img-top" src="/Img/Pr/PayR.png" alt="The sawir isnot loaded suceesfuly">
					<div class="card-body">
						<h5 class="card-title">
							<a class="theme-link" href="https://www.sourcecodester.com/visual-basic-net/11092/payroll-system.html">Payroll Management System in CSharp</a>
						</h5>
						<p class="text-capitalize card-text">
							Payroll Clerk Job Duties: Maintains payroll information by collecting, calculating, and entering data. 
							Updates payroll records by entering changes in exemptions, insurance coverage, savings deductions,
							and job title and department/division transfers
						</p>
						<p class="mb-0"><a class="text-link" href="#">Read more &rarr;</a></p>

					</div>
					<div class="card-footer">
						<small class="text-capitalize text-muted">All This Project is Ready To Download</small>
					</div>
				</div><!--//card-->
			</div><!--//col-->
			<div class="col-md-4 mb-5">
				<div class="card blog-post-card">
					<img class="card-img-top" src="/Img/Pr/NewsWebApp.png" alt="The sawir isnot loaded suceesfuly">
					<div class="card-body">
						<h5 class="card-title">
							<a class="theme-link" href="#">All Bootstrap Templates</a></h5>
						<p class="text-capitalize card-text">
							Bootstrap templates and themes to create an attractive news
							portal or a news page for a new magazine or newspaper 
							website with a responsive layout. Like our news Drupal themes and templates,</p>
						<p class="mb-0"><a class="text-link" href="#">Read more &rarr;</a></p>
					</div>
					<div class="card-footer">
						<small class="text-capitalize text-muted">All This Project is Ready To Download</small>

					</div>
				</div><!--//card-->
			</div><!--//col-->
			<div class="col-md-4 mb-5">
				<div class="card blog-post-card">
					<img class="card-img-top" src="/Img/Pr/Mapps.png" alt="The sawir isnot loaded suceesfuly">
					<div class="card-body">
						<h5 class="card-title"><a class="theme-link" href="">Exchange And Caller App</a></h5>
						<p class="text-capitalize card-text">
							When you want to know instantly how much foreign currency your pounds
							(or any currency that you hold) will buy, the Smart app will tell you. 
							If you want information on why the currency has Changed each Other.</p>
						<p class="mb-0"><a class="text-link" href="#">Read more &rarr;</a></p>
					</div>
					<div class="card-footer">
						<small class="text-capitalize text-muted">All This Project is Ready To Download</small>
					</div>
				</div><!--//card-->
			</div><!--//col-->
		</div><!--//row-->
		<div class="text-center py-3"><a href="blog-home.html" class="btn btn-primary"><i class="fas fa-arrow-alt-circle-right me-2"></i>View Blog</a></div>
	</div><!--//container-->

</section><!--//latest-blog-section-->

<!-- End Ready Projects -->

