@{
	ViewData["Title"] = "Resume";
}

<section class="cta-section theme-bg-light py-5">
	<div class="container text-center single-col-max-width">
		<h2 class="heading mb-3">Online Resume</h2>
		<a class="btn btn-primary" href="https://github.com/Dhaaboo/OnlineResume/blob/master/Abdinoor%20Suleman.pdf" target="_blank">
			<i class="fas fa-file-pdf me-2"></i>Download Resume As PDF
		</a>
	</div><!--//container-->
</section>

<!-- Start Container-->
<div class="container resume-container px-3 px-lg-5">
	<article class="resume-wrapper mx-auto theme-bg-light p-5 mb-5 my-5 shadow-lg">
		<!-- Start resume-header-->
		<div class="resume-header">
			<div class="row align-items-center">
				<div class="resume-title col-12 col-md-6 col-lg-8 col-xl-9">
					<h2 class="resume-name mb-0 text-uppercase">Abdinoor Suleman</h2>
					<div class="resume-tagline mb-3 mb-md-0">Senior Software Engineer</div>
				</div><!--//resume-title-->
				<div class="resume-contact col-12 col-md-6 col-lg-4 col-xl-3">
					<ul class="list-unstyled mb-0">
						<li class="mb-2"><i class="fas fa-phone-square fa-fw fa-lg me-2 "></i>
							<a class="resume-link" href="tel:#">0634906862</a></li>
						<li class="mb-2"><i class="fas fa-envelope-square fa-fw fa-lg me-2"></i>
							<a class="resume-link" href="mailto:#">Xarwaashe00@gmail.com</a>
						</li>
						<li class="mb-2"><i class="fas fa-globe fa-fw fa-lg me-2"></i>
							<a class="resume-link" href="#">abdinooresume.ml</a>
						</li>
						<li class="mb-0"><i class="fas fa-map-marker-alt fa-fw fa-lg me-2"></i>Burao</li>
					</ul>
				</div><!--//resume-contact-->
			</div><!--//row-->

		</div>
		<!--End resume-header-->
		<hr>
		<!-- Start resume-intro-->
		<div class="resume-intro py-3">
			<div class="row align-items-center">
				<div class="col-12 col-md-3 col-xl-2 text-center">
					<img class="resume-profile-image mb-3 mb-md-0 me-md-5  ms-md-0 rounded mx-auto" src="/Img/Mpc.jpg" alt="The sawir isnot loaded">
				</div>

				<div class="col text-start">
					<p class="text-capitalize mb-0">
						graduated School of ICT have a warm and friendly demeanor always!
						Skilled at Web developer experience, Software developer, A+, N+ And
						have troubleshooting Computer problems and more
						than two years of ICT Specialist experience also developing
						more software’s And Websites Successfully
					</p>
				</div><!--//col-->
			</div>
		</div>
		<!--End resume-intro-->
		<hr>
		<!--Start resume-body-->
		<div class="resume-body">
			<div class="row">
				<div class="resume-main col-12 col-lg-8 col-xl-9   pe-0   pe-lg-5">
					<section class="work-section py-3">
						<h3 class="text-uppercase resume-section-heading mb-4">Work Experiences</h3>
						<div class="item mb-3">
							<div class="item-heading row align-items-center mb-2">
								<h4 class="item-title col-12 col-md-6 col-lg-8 mb-2 mb-md-0">SOFTWARE STACK DEVELOPER</h4>
								<div class="item-meta col-12 col-md-6 col-lg-4 text-muted text-start text-md-end">
									Microwork’s, Study | 2018¬2019
								</div>

							</div>
							<div class="item-content">
								<p></p>
								<ul class="resume-list">
									<li>Used Swift to develop a productivity app for iOS to help architects render and edit blueprints</li>
									<li>Worked with the development team to refine the debugging process .</li>
									<li>Leveraged my knowledge of C#, Java and Python to write interfaces to manage backup log data.</li>
								</ul>
							</div>
						</div><!--//item-->
						<div class="item mb-3">
							<div class="item-heading row align-items-center mb-2">
								<h4 class="item-title col-12 col-md-6 col-lg-8 mb-2 mb-md-0">WEB STACK DEVELOPER</h4>
								<div class="item-meta col-12 col-md-6 col-lg-4 text-muted text-start text-md-end">
									Study online cloud| 2018 - 2020
								</div>

							</div>
							<div class="item-content">
								<p>Role description goes here ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem. Donec pede justo, fringilla vel.</p>
								<ul class="resume-list">
									<li>Fixed 300+ bugs on the website and implemented numerous enhancements to improve the overall user experience</li>
									<li>Used HTML, CSS, and JavaScript to contribute to a full revamp of the flagship app’s homepage, leading to a 16% increase in click rates</li>
									<li>Maintained and regularly updated webpages on WordPress</li>
									<li>Assisted in developing a widget to help cyclists locate the nearest bike lane, which is now one of Spinor’s most popular products</li>
								</ul>
							</div>
						</div><!--//item-->
					</section><!--//work-section-->


				@* 	<section class="project-section py-3">
						<h3 class="text-uppercase resume-section-heading mb-4">Projects</h3>
						<div class="item mb-3">
							<div class="item-heading row align-items-center mb-2">
								<h4 class="item-title col-12 col-md-6 col-lg-8 mb-2 mb-md-0">Project Lorem Ipsum</h4>
								<div class="item-meta col-12 col-md-6 col-lg-4 text-muted text-start text-md-end">Open Source</div>

							</div>
							<div class="item-content">
								<p>You can use this section for your side projects. You can <a href="#" class="theme-link">provide a project link here</a> as well. Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.</p>


							</div>
						</div><!--//item-->
						<div class="item">
							<div class="item-heading row align-items-center mb-2">
								<h4 class="item-title col-12 col-md-6 col-lg-8 mb-2 mb-md-0">Project Sed Fringilla</h4>
								<div class="item-meta col-12 col-md-6 col-lg-4 text-muted text-start text-md-end">Open Source</div>

							</div>
							<div class="item-content">
								<p>You can use this section for your side projects. Cras dapibus. Vivamus elementum semper nisi. Aenean vulputate eleifend tellus. Aenean leo ligula, porttitor eu, consequat vitae, eleifend ac, enim.</p>

							</div>
						</div><!--//item-->
						<div class="item">
							<div class="item-heading row align-items-center mb-2">
								<h4 class="item-title col-12 col-md-6 col-lg-8 mb-2 mb-md-0">Project Praesent </h4>
								<div class="item-meta col-12 col-md-6 col-lg-4 text-muted text-start text-md-end">Open Source</div>

							</div>
							<div class="item-content">
								<p>You can use this section for your side projects. Cras dapibus. Vivamus elementum semper nisi. Aenean vulputate eleifend tellus. Aenean leo ligula, porttitor eu, consequat vitae, eleifend ac, enim.</p>

							</div>
						</div><!--//item-->
					</section> *@<!--//project-section-->
				</div><!--//resume-main-->
				<aside class="resume-aside col-12 col-lg-4 col-xl-3 px-lg-4 pb-lg-4">
					<section class="skills-section py-3">
						<h3 class="text-uppercase resume-section-heading mb-4">Skills</h3>
						<div class="item">
							<h4 class="item-title">Technical</h4>
							<ul class="list-unstyled resume-skills-list">
								<li class="mb-2">VB.NET, C#, ASP.NET, REACT </li>
								<li class="mb-2">PHP&MYSQL, SQLSERVER
								<li>
								<li class="mb-2">Java, JavaScript, Python, HTML, CSS,</li>
								<li class="mb-2">React Native, WordPress</li>
								<li class="mb-2">Xamarin ,MAUI,SQLITE</li>
							</ul>
						</div><!--//item-->
						<div class="item">
							<h4 class="item-title">Professional</h4>
							<ul class="list-unstyled resume-skills-list">
								<li class="mb-2">Adaptability</li>
								<li class="mb-2">Strong Work Ethic</li>
							</ul>
						</div><!--//item-->
					</section><!--//skills-section-->
					<section class="education-section py-3">
						<h3 class="text-uppercase resume-section-heading mb-4">Education</h3>
						<ul class="list-unstyled resume-education-list">
							<li class="mb-3">
								<div class="resume-degree font-weight-bold">BSc SCHOOL OF ICT</div>
								<div class="resume-degree-org text-muted">For Gollis University</div>
								<div class="resume-degree-time text-muted">2017 - 2020</div>
							</li>
							
						</ul>
					</section><!--//education-section-->
					<section class="skills-section py-3">
						<h3 class="text-uppercase resume-section-heading mb-4">Languages</h3>
						<ul class="list-unstyled resume-lang-list">
							<li class="mb-2">English <span class="text-muted">(Native)</span></li>
							<li>Arabic <span class="text-muted">(Native)</span></li>
							<li>Somali <span class="text-muted">(Professional)</span></li>
						</ul>
					</section><!--//certificates-section-->
					<section class="skills-section py-3">
						<h3 class="text-uppercase resume-section-heading mb-4">Interests</h3>
						<ul class="list-unstyled resume-interests-list mb-0">
							<li class="mb-2">Climbing</li>
							<li class="mb-2">Snowboarding</li>
							<li class="mb-2">Photography</li>
							<li>Travelling</li>
						</ul>
					</section><!--//certificates-section-->

				</aside><!--//resume-aside-->
			</div><!--//row-->
		</div>
		<!--End resume-body-->
		<hr>
		<!--Start resume-footer-->
		<div class="resume-footer text-center">
			<ul class="resume-social-list list-inline mx-auto mb-0 d-inline-block text-muted">
				<li class="list-inline-item mb-lg-0 me-3"><a class="resume-link" href="#">
					<i class="fa-brands fa-github-square fa-2x me-2" data-fa-transform="down-4"></i>
					<span class="d-none d-lg-inline-block text-muted">Dhaaboo</span></a></li>
				<li class="list-inline-item mb-lg-0 me-3"><a class="resume-link" href="#"><i class="fa-brands fa-linkedin fa-2x me-2" data-fa-transform="down-4"></i>
					<span class="d-none d-lg-inline-block text-muted">Dhaaboo</span></a></li>
				<li class="list-inline-item mb-lg-0 me-lg-3"><a class="resume-link" href="#"><i class="fa-brands fa-square-x-twitter fa-2x me-2" data-fa-transform="down-4"></i>
					<span class="d-none d-lg-inline-block text-muted">Dhaaboo</span></a></li>
			</ul>
		</div><!--//resume-footer-->
		<!--End resume-footer-->

	</article>

</div><!--//container-->

