<!-- Start Footer STYLE -->
<footer class="footer text-center py-4">
	<small class="copyright">
		&copy; Copyright 2020 -@DateTime.Now.Year
		<a href="" target="_blank">Dhaaboo Production</a>
	</small>
</footer>
<!-- End Footer STYLE -->